{% extends 'footer/base_landing.html' %} {% load static %} {% block title %}Terms of Service | FreelanceConnect{% endblock %} {% block content %}
<section class="py-12 md:py-24 bg-white relative">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1
            class="font-sans text-3xl sm:text-4xl font-bold text-slate-900 mb-6 sm:mb-8 border-b border-slate-200 pb-6 sm:pb-8"
        >
            Terms of Service
        </h1>

        <div class="prose prose-slate prose-lg text-slate-600">
            <p>Last Updated: January 2026</p>

            <h3>1. Terms</h3>
            <p>
                By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all
                applicable laws and regulations, and agree that you are responsible for compliance with any applicable local
                laws.
            </p>

            <h3>2. Use License</h3>
            <p>
                Permission is granted to temporarily download one copy of the materials (information or software) on
                FreelanceConnect's website for personal, non-commercial transitory viewing only.
            </p>

            <h3>3. Disclaimer</h3>
            <p>
                The materials on FreelanceConnect's website are provided "as is". FreelanceConnect makes no warranties,
                expressed or implied, and hereby disclaims and negates all other warranties.
            </p>

            <h3>4. Limitations</h3>
            <p>
                In no event shall FreelanceConnect or its suppliers be liable for any damages (including, without
                limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or
                inability to use the materials on FreelanceConnect's Internet site.
            </p>

            <h3>5. Revisions and Errata</h3>
            <p>
                The materials appearing on FreelanceConnect's website could include technical, typographical, or
                photographic errors. FreelanceConnect does not warrant that any of the materials on its website are
                accurate, complete, or current.
            </p>
        </div>
    </div>
</section>
{% endblock %}
